@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-stroke: #e8ebf0;
  --color-brandDeepBlut: #0c1bb1;
  --color-grey0: #f5f5fa;

  --color-text-secondary: #242429;
  --color-text-muted: #757685;
}

.hover-transition {
  @apply hover:bg-grey0 rounded-lg;
}

body {
  font-family: "Montserrat", sans-serif;
}

.boxShadow-profile-popup {
  box-shadow: 0px 2.75px 2.75px rgba(0, 0, 0, 0.01),
    0px 6.95px 6.95px rgba(0, 0, 0, 0.01),
    0px 14.18px 14.18px rgba(0, 0, 0, 0.02),
    0px 29.2px 29.2px rgba(0, 0, 0, 0.02), 0px 80px 80px rgba(0, 0, 0, 0.03);
}
