@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-stroke: #e8ebf0;
  --color-brandDeepBlut: #0c1bb1;

  --color-text-secondary: #242429;
  --color-text-muted: #757685;
}

.hover-transition {
  @apply hover:text-blue-600 transition-colors;
}

body {
  font-family: "Montserrat", sans-serif;
}
